<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto mt-3">
          <div class="card_register">
            <div class="card mt-3">
              <div class="card-body text-center">
                <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                  <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{msgError}}
                  </div>
                                      
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required
                      minlength="8">
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.minlength">Email must be at least 8 characters</div>
                  </div>

                  <div class="form-group">
                    <input type="pass" name="pass" class="form-control" placeholder="pass" [(ngModel)]="pass"
                      required minlength="5" maxlength="10">
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="pass.touched && !pass.valid">
                    <div *ngIf="pass.errors.required">Password is required</div>
                    <div *ngIf="pass.errors.minlength">Password must be at least 5 characters</div>
                  </div>

                  <div class="form-group">
                    <h3>Seleccionar imagen:</h3>
                    <input type="file" accept=".png, .jpg" (change)="onUpload($event)" placeholder="">
                  </div>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="
                    (uploadPercent | async) + '%'">
                    </div>
                  </div>
                  <br>
                  <input #imageUser type="hidden"  [value]="urlImage | async">  <!--Es necesario async para que haga una llamada asincrona-->
                  <button *ngIf="urlImage | async; else btnDisabled" type="submit" 
                  class="btn btn-lg btn-primary btn-block" (click)="onAddUser()">Register</button> <!--Este es el boton de color-->

                  

                  <ng-template #btnDisabled>
                    <button type="submit" hidden=true id="btnDisabled" class="btn btn-lg btn-primary btn-block" >Register</button>
                    <button type="submit" disable=false id="btnDisabled" class="btn btn-lg btn-secondary btn-block" >Register</button>

                  </ng-template>
                  
                  <div class="form-group">
                    <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                  </div>
                  <div class="form-group">
                        
                    <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                          <span class="fa fa-facebook"></span>
                          FACEBOOK
                    </button>
                      
                    <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                          <span class="fa fa-google"></span>
                          GOOGLE
                    </button>
                    
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>